* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 50px;
}

main{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    /*border: 2px solid black;
    border-image: url('images/Border.png') 500px;
    border-image-repeat: repeat;*/
    border: 50px solid;
    border-image: url(images/smallborder.png) round;
    border-image-slice: 166 215;
    border-image-outset: 25px; 
    padding: 10px;
    background: lavender;
    text-align: center;
}

.hide {
    display: none;
}

.startQuiz, form, legend, span, .buttonChoices {
    background: lavender;
}







/*css for start page*/
h1 {
    margin: 5px;
    background: lavender;
    font-size: 22px;
}

.startMessage{
    margin: 30px;
    background: lavender;
    font-size: 14px;
}

.princessesImage {
    height: 20%;
    width: 60%;
    margin: 30px auto 5px;
    border: 2px solid green;
    border-radius: 8px;
}

.startButton {
    margin: 5px auto 10px;
    padding: 11px 40px;
    background: url(images/buttonbackground.jpg) no-repeat;
    background-size: 100%;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    color: darkslateblue;
}   

/*css for question page*/
legend {
    font-size: 20px;
    font-weight: bolder;
}

fieldset {
    border: none;
}

p {
    background: lavender;
    margin: 10px;
}


.question {
    margin: 35px;
}

.buttonChoices {
    margin: 10px;
    padding: 10px;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    



}

.choice {
    background: yellow;
    height: 20px;
    width: 100px;
    padding: 30px;
    line-height: 3px;
    
}



.scoreText {
    margin: 30px auto 15px;
}

#submitQuestion {
    margin: 15px;
    padding: 12px 20px;
    background: darkcyan;
    cursor: pointer;
}





