* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

body {
    
    

}

main{
    
    
}



.startQuiz {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    background: lavender;
    text-align: center;

}

h1 {
    margin: 50px;
    background: lavender;
    font-size: 30px;
}

p{
    margin: 30px;
    background: lavender;
    font-size: 16px;
}


.princessesImage {
    height: 20%;
    width: 50%;
    margin: 10px;
    border: 2px solid green;
    border-radius: 8px;
}

.startButton {
    margin: 10px auto 30px;
    padding: 15px 50px;
    background: url(images/buttonbackground.jpg) no-repeat;
    background-size: 100%;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}


